<h1>Students</h1>
<%= form_tag student_search_path, method: :get, "data-turbo-frame": "student_search" do %>
  <%= text_field_tag(:search, params[:search],
    placeholder: "Enter student name ...",
    "data-turbo-frame": "_self"
  )%>
<% end %>
<div class="content-body">
<%=turbo_frame_tag "student_search" do%>
  <table>
  <tbody> 
    <% @students.each do |s| %>
      <tr>  
          <td><%= "#{s.first_name} #{s.last_name}" %></td>
          <td><%= s.user.email %></td>
          <td><%= s.user.balance %></td>
          <td><%= link_to "Details", s, target: "_top" %></td>
          <td><%= link_to "Edit", edit_student_path(s), target: "_top" %></td>
          <td><%= button_to "Delete", s, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
</div>
<%= link_to "New student", new_student_path %>
