<%= turbo_frame_tag "student_search" do%>
    <table>
    <tbody>
        <% @students.each do |s| %>
        <tr>  
            <td><%= "#{s.first_name} #{s.last_name}" %></td>
            <td><%= s.user.email %></td>
            <td><%= s.user.total_balance %></td>
            <td><%= link_to "Details", s, target: "_top" %></td>
            <td><%= link_to "Pay", user_pay_path(s.user), target: "_top" %></td>
            <td><%= link_to "Edit", edit_student_path(s), target: "_top"%></td>
            <td><%= button_to "Delete", s, method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>
<%= link_to "New student", new_student_path %>