<h3><%= "#{@student.first_name} #{@student.last_name}" %></h3>
<%= link_to "All student", students_path %>

<%= week_calendar(events: @calendar_occurrences) do |date, occurs| %>
  <h6><%= date.day %></h6>
  <% occurs.each do |o| %>
    <%= o.start_time.strftime("%H:%M -") + o.end_time.strftime(" %H:%M") %>
    <br/>
  <% end %>
<% end %>

<div class="content-body">
</div>