<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>
<div id="calendar">
  <%= month_calendar(events: @calendar_occurrences) do |date, occurs| %>
    <% ocs = occurs.map{|o| o.occurrence.id } %>
    <h6><%= date.day %></h6>
    <% for o in ocs %>
      <br/>
      <%= "schedule #{o}" %>
    <% end %>
  <% end %>
</div>
<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New schedule", new_schedule_path %>
