<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>
<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar(events: @calendar_occurrences) do |date, occurs| %>
    <%= link_to date.day, calendar_path(date), "data-turbo-frame": "calendar-show" %>
  <% end %>
<% end %>
<%= turbo_frame_tag 'calendar-show' do %>
  <h6>Click on a date to show classes</h6>
<% end %>
