<%= simple_form_for course do |f| %>
  <%= f.association :subject_level%>
  <%= f.association :teacher, required: false %>
  <%= f.association :students, include_hidden: false %>
  <%= f.input :name %>
  <%= f.simple_fields_for :occurrence do |s| %>
    <%= s.hidden_field :period, value: 1.week%>
    <%= s.label :start_time, "Start time"%>
    <%= s.datetime_field :start_time%><br/>
    <%= s.input :days, 
                collection: Date::DAYNAMES.each_with_index.map{ |v, i| [v, i]}, 
                include_hidden: false, 
                input_html: {multiple: true} 
    %>
    <%= s.label :duration, "Class length"%>
    <div class="row">
      <div class="col s6"><%= s.input :hours, as: :integer, min: 0, max: 23 %></div>
      <div class="col s6"><%= s.input :minutes, as: :integer, min: 0, max: 59%></div>
    </div>
    <%= s.input :count, as: :integer %>
  <% end %>
  <%= f.input :fee, as: :money %>
  <%= f.button :submit %>
<% end %>