<h1>Courses</h1>

<div class="content-body">
<table>
<tbody>  
  <% @courses_info.each do |c|%>
    <tr>
      <td><%= c[:course].subject_level.to_s %></td>
      <% if c[:next_occurrence]%>
        <td><%= c[:next_occurrence].localtime.strftime(TIMEFM) %></td>
      <% else %>
        <td>Not Avaliable</td>
      <%end%>
      <td><%= link_to "Details", c[:course] %></td>
      <td><%= link_to "Edit", edit_course_path(c[:course]) %></td>
      <td><%= button_to "Delete", c[:course], method: :delete %></td>
    </tr>
  <% end %>
</tbody>  
</table>
</div>
<%= link_to "New course", new_course_path %>