<!DOCTYPE html>
<html>
  <head>
    <title>ClassScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%=link_to "Teachers", teachers_path%></li>
          <li><%=link_to "Students", students_path%></li>
          <li><%=link_to "Schedules", schedules_path%></li>
        </ul>
      </div>
    </nav>
  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
