<!DOCTYPE html>
<html>
  <head>
    <title>ClassScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags(shim: false) %>
    
  </head>

  <body>
  <ul id="subject-dropdown" class="dropdown-content">
    <li><%= link_to "New Subject", new_subject_level_path %> </li>
    <% @subjects.each do |s| %>
      <li><%= link_to s.name, subject_path(s) %> </li>
    <% end %>
  </ul>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><%=link_to "Teachers", teachers_path%></li>
          <li><%=link_to "Students", students_path%></li>
          <li><%=link_to "Courses", courses_path%></li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="subject-dropdown">
              Subjects
              <i class="material-icons right">
                arrow_drop_down
              </i>
            </a>
          </li>
          <li><%=link_to "Schedules", schedules_path%></li>
        </ul>
      </div>
    </nav>
  
    <div class="container">
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
